<p>rooms works!{{hotelName}} </p>
<h1>No of Rooms</h1>
<div [hidden]="hideRooms">
  <div [innerText]="numberOfRooms"></div>
</div>

<div *ngIf="rooms.availabelRooms > 0">
  Rooms List:
  <table>
    <thead>
      <tr>
        <th>Room Number</th>
        <th>Room Type</th>
        <th>Room Price</th>
        <th>Room Aminities</th>
        <th>Check In</th>
        <th>Check Out</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of roomsList; let i = index; let e = even; let o=odd;">
        <td>index is {{i}}</td>
        <td>{{e ? "Even": "Odd"}}</td>
        <td>{{room.roomType}}</td>
        <td>{{room.aminities}}</td>
        <td><img src={{room.photos}}></td>
        <td>{{room.checkIn}}</td>
        <td>{{room.checkOut}}</td>
      </tr>
    </tbody>
  </table>
</div>
<button (click)="toggle()">Toggle</button>